<div class="container">
  <h1>{{ title }}</h1>
 <!--  <a routerLink="/communes/{{comms}}" class="btn btn-primary"> test </a> -->
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Code</th>
      <th> Code Région</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comm of communes">
      <td >
        {{ comm.nom }}
      </td>
      <td>
        {{comm.code}}
      </td>
      <td>
        {{comm.code_departement}}
      </td>
      <td>
        {{comm.siren}}
      </td>
      <td>
        {{comm.code_epci}}
      </td>
      <td>
        {{comm.code_region}}
      </td>
      <td>
        {{comm.codes_postaux}}
      </td>
      <td>
        {{comm.population}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
